{%extends 'ttsx_goods/base.html'%}
{%block head%}
<script type="text/javascript">
	$(function () {

		$('#add_cart').click(function(){
		   	$.get('/user/islogin/', function (data) {
				if (data.islogin){
				    count = $('.num_show').val()
					gid = $('#gid').val()
					$.get('/cart/add/',{'gid':gid, 'count':count},function (data) {
						if(data.isadd){
						    var $add_x = $('#add_cart').offset().top;
							var $add_y = $('#add_cart').offset().left;
							var $to_x = $('#show_count').offset().top;
							var $to_y = $('#show_count').offset().left;

							$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
								.stop()
								.animate({'left': $to_y+7, 'top': $to_x+7}, "fast", function() {
									$(".add_jump").fadeOut('fast',function(){
										$.get('/cart/count/', function (data) {
											$('#show_count').html(data.cart_count);
                                        })

									});

								});

						}else{
						    alert('添加失败，请稍后重试');
						}
                    })




				}else{
				    location.href = '/user/login/';
				}
            });





		});
		$('.num_show').blur(function () {
			// 验证输入的数量是否合法
			num = parseInt($(this).val());
			kucun = parseInt($('#kucun').val());
			if (num<1) {
                num = 1;
            }
            if (num>kucun){
			    num = kucun;
			}
			if (isNaN(num)){
			    num = 1;
			}
			$(this).val(num);
				// 计算总价
				price = parseFloat($('.show_pirze em').text());
				total = price * num;
				$('.total em').text(total.toFixed(2)+'元');
        });
		// 增加商品数量
		$('.add').click(function () {
			num = parseInt($('.num_show').val());
			num++;
			$('.num_show').val(num).blur();

        });
		// 减少商品数量
		$('.minus').click(function () {
			num = parseInt($('.num_show').val());
			num--;
			$('.num_show').val(num).blur();

        });
    });

	</script>
{%endblock head%}

{%block detail%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{goods.gtype.ttitle}}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{goods.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.gtitle}}</h3>
			<p>{{goods.gsubtitle}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.gprice}}</em></span>
				<span class="show_unit">单  位：{{goods.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="hidden" id="gid" value="{{goods.id}}">
					<input type="text" class="num_show fl" value="1">
					<input type="hidden" id="kucun" value="{{goods.gkucun}}">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{goods.gprice}}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>
{%endblock detail%}

{%block right%}
	<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<!--因为我们用了富文本编辑器，里边包含html标签，所以我们在这里做一下转译-->
				{{goods.gcontent|safe}}
			</div>

		</div>
	<div class="add_jump"></div>
{%endblock right%}




